
.message-container {
  position: fixed;
  top: 100px;
  right: 20px;
  z-index: 1000;
}

/* Green color for success messages */
.success-message {
  color: green;
  font-weight: bold;
  font-size: 16px;
}

/* Red color for error messages */
.error-message {
  color: rgb(150, 56, 56);
  font-weight: bold;
  font-size: 16px;
}
@media screen and (min-width: 1101px) {
  .nav-links {
    display: flex;
    position: relative;
    height: auto;
    width: auto;
    flex-direction: row;
    background: transparent;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    transform: none;
    opacity: 1;
    pointer-events: auto;
    transition: none;
  }

  .menu-icon {
    display: none;
  }

  /* Adjust spacing to prevent squishing */
  .nav-links li {
    margin-left: 15px;
  }

  .nav-links a {
    padding: 8px 12px;
    font-size: 0.9em;
  }
}


