{% extends "JRS/base.html" %}
{% load static %}
{% block title %}
Blog Page
{% endblock title %}
{% block inlinecss %}
<link href="{% static 'JRS/css/blogpage.css' %}" rel="stylesheet">
{% endblock inlinecss %}
{% block main %}
<h2>Blogs and Resources for Success</h2><br>

<div class="wrapper">
    <div class="card">
      <div class="card-banner">
        <img class="banner-img" src='{% static 'JRS/Images/lever.png' %}' alt=''>
      </div>
      <div class="card-body">
        <h3 class="blog-title">Lever</h3>
        <p class="blog-description">Lever focuses on building a top-tier ATS while also running a unique recruiting blog. It covers traditional topics like interviewing and sourcing, alongside unconventional ideas like using design thinking. Their standout category, data-driven recruiting, offers fresh insights into this growing yet underexplored area.</p>
        <br>
          <a href="https://www.lever.co/blog/" 
          class="read-more-btn" 
          target="_blank" 
          rel="noopener noreferrer">
           Click Here To Read More
       </a>
        
      </div>
    </div>

    <div class="card">
      <div class="card-banner">
        <img class="banner-img a" src="{% static 'JRS/Images/firefish.png' %}" alt="" style="object-fit: contain; object-position: right; ">
      </div>
      <div class="card-body">
        <h3 class="blog-title">FireFish</h3>
        <p class="blog-description">The award-winning Firefish blog, managed by ex-recruiters, offers a wealth of recruitment posts, ebooks, and industry reports. With over 15,000 monthly readers, it covers topics like agency management, business development, and marketing tips to help you recruit effectively.</p><br>
        <a href="https://blog.firefishsoftware.com/
"
        class="read-more-btn" 
        target="_blank" 
        rel="noopener noreferrer">
         Click Here To Read More
        </a> 
      </div>
    </div>
    <div class="card">
      <div class="card-banner">
        <img class="banner-img" src='{% static 'JRS/Images/recruitee.jpg' %}' alt=''>
      </div>
      <div class="card-body">
        <h3 class="blog-title">Recruitee</h3>
        <p class="blog-description">
          Recruitee, creators of a top applicant tracking system, excels in writing as well. Their blog covers employer branding, HR tech, and talent sourcing, blending practical how-to guides like "How to create a career site" with thoughtful topics like improving the candidate experience.</p><br>
          <a href="https://recruitee.com/blog"
          class="read-more-btn" 
          target="_blank" 
          rel="noopener noreferrer">
           Click Here To Read More
       </a>
        
      </div>
    </div>
  



  </div>

  <br>
  <br>
  
<div class="wrapper">
    <div class="card">
      <div class="card-banner">
        <img class="banner-img" src='{% static 'JRS/Images/indeed.jpg' %}' alt=''>
      </div>
      <div class="card-body">
        <h3 class="blog-title">Lead With Indeed</h3>
        <p class="blog-description">
          Indeed, a leader in the recruitment industry, offers a surprisingly insightful blog. With data-driven articles, videos, and a well-organized archive, it provides valuable advice and studies, like their take on the future of work. Their newsletter adds exclusive content, making it a must-read for recruiters.</p>
          <br>
          <a href="https://www.indeed.com/lead/indeed-report-todays-workforce-weighs-in-on-the-future-of-work?co=US" 
          class="read-more-btn" 
          target="_blank" 
          rel="noopener noreferrer">
           Click Here To Read More
       </a>
      </div>
    </div>

    <div class="card">
      <div class="card-banner">
        <img class="banner-img" src='{% static 'JRS/Images/plug.jpg' %}' alt=''>
      </div>
      <div class="card-body">
        <h3 class="blog-title">Career Plug</h3>
        <p class="blog-description">The CareerPlug blog helps non-HR professionals, like small business owners, franchise operators, hire better. With practical, actionable advice from their proven hiring playbook, it’s perfect for those new to concepts like "candidate experience." Their team  ensures you get expert guidance without needing to be one yourself.</p><br>
          <a href="https://www.careerplug.com/blog/"
          class="read-more-btn" 
          target="_blank" 
          rel="noopener noreferrer">
           Click Here To Read More
       </a>
        
      </div>
    </div>


    <div class="card">
      <div class="card-banner">
        <img class="banner-img" src='{% static 'JRS/Images/workable.jpg' %}' alt=>
      </div>
      <div class="card-body">
        <h3 class="blog-title">Workable</h3>
        <p class="blog-description">Workable is a resource hub for HR professionals, focusing on talent acquisition. Their blog features case studies, like an interview with Casio's Senior HR Executive, along with posts on candidate sourcing, candidate experience, and AI in hiring. It's valuable for both recruiting agencies and in-house HR teams.</p><br>
        <a href="https://resources.workable.com/"
          class="read-more-btn" 
          target="_blank" 
          rel="noopener noreferrer">
           Click Here To Read More
       </a>
       
      </div>
    </div>


  </div>
  <br>
  <br>
<div class="wrapper">
    <div class="card">
      <div class="card-banner">
        <img class="banner-img" src='{% static 'JRS/Images/culture.jpg' %}' alt=''>
      </div>
      <div class="card-body">
        <h3 class="blog-title">Talent Culture</h3>
        <p class="blog-description">
          The TalentCulture blog, founded by Meghan M. Biro, provides daily content on various topics to connect and engage professionals in understanding the human aspects of business. Along with a podcast, webinars, ebooks, and a newsletter, TalentCulture helps recruiters and talent specialists stay updated and ahead in their field.</p>
          <br>
          <a href="https://talentculture.com/articles/" 
          class="read-more-btn" 
          target="_blank" 
          rel="noopener noreferrer">
           Click Here To Read More
       </a>
      </div>
    </div>

    <div class="card">
      <div class="card-banner">
        <img class="banner-img" src='{% static 'JRS/Images/ere.jpg' %}' alt=''>
      </div>
      <div class="card-body">
        <h3 class="blog-title">ERE</h3>
        <p class="blog-description">Founded in 1998, ERE Media, the company behind SourceCon, offers ERE as a hub for industry opinion pieces and insights on the future of recruitment. Despite its age, the site remains current and valuable. While the front page may seem limited, many more posts are accessible through hidden category pages, indicated by blue boxes under each title.</p><br>
          <a href="https://www.ere.net/"
          class="read-more-btn" 
          target="_blank" 
          rel="noopener noreferrer">
           Click Here To Read More
       </a>
        
      </div>
    </div>


    <div class="card">
      <div class="card-banner">
        <img class="banner-img" src='{% static 'JRS/Images/linkedin.jpg' %}' alt=>
      </div>
      <div class="card-body">
        <h3 class="blog-title">LinkedIn Talent</h3>
        <p class="blog-description">The LinkedIn Talent blog offers valuable tips, strategies, and inspiration for hiring and developing talent. With over 40 topics, it covers everything from AI and talent analytics to core recruitment issues like diversity, candidate experience, and skills-based hiring. It also provides useful advice on how to effectively use LinkedIn for sourcing and connecting with candidates.</p><br>
        <a href="https://www.linkedin.com/business/talent/blog"
          class="read-more-btn" 
          target="_blank" 
          rel="noopener noreferrer">
           Click Here To Read More
       </a>
       
      </div>
    </div>
  </div>




{% endblock main %}

