{% extends "JRS/base2.html" %}
{% load static %}
{% block title %}
HR Dashboard Page
{% endblock title %}
{% block inlinecss %}
<link href="{% static 'JRS/css/hr_dashboard.css' %}" rel="stylesheet">
<link href="{% static 'JRS/css/base2.css' %}" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
{% endblock inlinecss %}
{% block main %}




<!-- Messages Display -->
{% if messages %}
    <div class="message-container">
        {% for message in messages %}
            <p class="message {% if message.tags == 'success' %}success-message{% elif message.tags == 'error' %}error-message{% endif %}" id="message-{{ forloop.counter }}">
                {{ message }}
            </p>
        {% endfor %}
    </div>
{% endif %}

<script>

    window.onload = function() {
        {% if messages %}
            {% for message in messages %}
                var messageElement = document.getElementById('message-{{ forloop.counter }}');
                if (messageElement) {
                    setTimeout(function() {
                        messageElement.style.display = 'none';
                    }, 4000);  // 4000ms = 4 seconds
                }
            {% endfor %}
        {% endif %}
    }
    
    </script>

{% endblock main %}


